body{
    background-color: black;
}
.open{
    width:fit-content;
    padding: 5px;
    height: fit-content;    
    border: 2px solid black;
    border-radius:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}
.open:hover{
    background-color: aqua;
    transform: scale(1.1);
   
}
.open h1{
    color: black;
    font-size: medium;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gehu{
    border: 1px solid white;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    width:100%;
    margin: 5px;
    padding: 5px;
    background-image: url("gehu.jpg");
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: aliceblue;
}
/* .row{
    isplay: flex;
    justify-content: center;
    align-items: center;

} */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .open{
      background-color: aliceblue;
      display: flex;
      width: fit-content;
      justify-content: center;
      align-items: center;
  }
  @font-face {
      font-family: MyFirstFont;
      src: url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');
  }
  #aboutBot{
      font-family: MyFirstFont;
      font-size:x-large;
  }